<h4>Catalogue produits</h4>

<button (click)="onClick()"> Click</button>
<input type="text" placeholder="recherche..." (change)="onChange()">

<br/>
<div *ngFor = "let t of tabData">
    {{t}}
</div>
<br/>
<div  *ngFor = "let o of observable2$ | async">
    {{o}}
</div>
<br/>
<div>
    {{observable3$ | async}}
</div>
<br/>
<div *ngFor = "let l of tabLivre">
    {{l.titre}} / {{l.prix}}
</div>

<br/>
<button (click)="onClickBackeng()"> Get Backend</button>

<div  *ngFor = "let o of observable5$ | async">
    {{o.titre}} / {{o.prix}} 
</div>